{% extends 'base.html' %}

{% block body %}
<div style="height: 100vh; /* Set the height of the container */
background-image: linear-gradient(-130deg, #052ca0, #ff8000);
background-size: cover; padding-top: 50px;">
<div class="modal-content rounded-4 shadow mx-auto my-auto" style="max-width: 500px;margin-bottom: 50px;">
    <!-- Your existing modal content here -->
    <div class="modal-content rounded-4 shadow" >
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Login</h1>
        </div>

        <div class="modal-body p-5 pt-0">
          <form method="post">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" name="email" required>
              <label for="floatingInput" style="color: brown;">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" name="password" required>
              <label for="floatingPassword" style="color: brown;">Password</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>
            <hr class="my-4">

          </form>
        </div>
      </div>

</div>
</div>

{% endblock %}